.formWrapper {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.inputWrapper{
   display:flex;
   flex-direction:column;
}

.labelTitle {
   font-size: 18px;
   font-weight:500;
}

.inputContent {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #C6CACD;
  border-radius: 4px;
}

.inputContent::placeholder {
  color: #999;
}

.inputContent:focus, .inputContent:hover {
  outline: none;
  background-color: #EFF8FF;
}

.starRequired {
   color: red;
}