.container {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 20px;
   margin-bottom: 50px;
}

.inputWrapper{
   display:flex;
   flex-direction:column;
    position: relative;
}

.labelTitle {
   font-size: 16px;
   margin-bottom: 10px;
}

.inputContent {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #C6CACD;
  border-radius: 4px;
}

.btnContent {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #C6CACD;
  background-color:#fff;
  border-radius: 4px;
  width:100%;
  text-align:start;
}

.inputContent::placeholder, .btnContentPlaceholder  {
  color: #999;
}

.inputContent:focus, .inputContent:hover, .btnContent:focus, .btnContent:hover {
  outline: none;
  background-color: #EFF8FF;
}

.starRequired {
   color: red;
}

.datePickerWrapper {
  position: relative;
}


