.calendar {
  position: absolute;
  background-color: #eff8ff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  z-index: 1000;
}

.calendarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #80bde3;
}

.calendarHeader p {
  flex: 1 0 0;
  text-align: center;
}

.calendarHeader ion-icon {
  cursor: pointer;
}

.calendarBody {
  margin: 8px;
}

.calendarDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendarDate {
  cursor: pointer;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  transition: background-color 0.3s ease; 
}

.calendarDate:hover {
  background-color: #53b1fd;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.disabled {
  color: #a7abb0;
  pointer-events: none;
}
