.container {
  margin-bottom: 30px;
}
.formWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 280px;
  border: 1px solid #c6cacd;
  background-color: #EFF8FF;
  border-radius: 4px;
  overflow: hidden;
}

.inputContent {
  display: inline-block;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: transparent;
  background-color: #EFF8FF;
  transition: background-color 0.3s ease; 
}

.inputContent::placeholder {
  color: #41464c;
}

.inputContent:focus,
.inputContent:hover {
  outline: none;
   background-color: #d1e9ff;
}

.cityList {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 195px;
  width: 280px;
  overflow-y: scroll;
  max-height: 120px;
  z-index: 1000;
  font-size: 16px;
  border: 1px solid #c6cacd;
  border-radius: 4px;
  background-color: #eff8ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cityItem {
  padding: 5px 10px;
  cursor: pointer;
  list-style: none;
  transition: background-color 0.3s ease;
}

.cityItem:focus,
.cityItem:hover {
  background-color: #53b1fd;
}

.searchBtn {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #53b1fd;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.searchBtn:focus,
.searchBtn:hover {
    background-color: #007bff;
}

.searchBtn ion-icon, .closeBtn ion-icon {
  width: 24px;
  height: 24px;
}

.closeBtn {
   padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.closeBtn:hover ion-icon {
  color: red;
}